html{
  font-family: Helvetica;
}
body{
  display: grid;
  grid-template-columns: auto repeat(6, 12em) auto;
  grid-template-rows: 20px 50px repeat(4,100px) repeat(4, 160px) auto 35px;
  grid-template-areas:
    "x x x x x x x x"
    ". z z z z z z ."
    ". z z z z z z ."
    ". z z z z z z ."
    ". z z z z z z ."
    ". z z z z z z ."
    ". a b c d e f ."
    ". g h i j k l ."
    ". m n o p q r ."
    ". s aa ab ac ad ae ."
    ". . . fot fot fot . ." ;
  grid-gap: 15px;
}
footer{

  grid-area: fot;
  color:white;



}
h1{
  font-family: Garamond;

}
h2{
  text-transform: uppercase;
  /*font-family: Georgia;*/
  font-size: 1em;
  font-family: Helvetica;

}


h5{
  font-weight: lighter;
  display: flex;
  align-items:flex-end;
  justify-content: end;
}
#credits{
  display: grid;
  display: flex;
  align-items:flex-end;
  justify-content: end;
  align-self: flex-end;

}
.dot{
  background-image:  url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg');
  grid-area: 2 / 1 /-1 / -1;
  background-size: cover;
  /*.bg {
    /* The image used

     Half height
    height: 50%;

     Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/
}
#logo{
  height: 100px;

}
#logo:hover{
  border-style: hidden;

}
 a:hover{
  border-style: solid;
  border-color: white;
  /*pointer-events:none;*/
}
/*
 .textcover {
  grid-area: z;
  opacity: 0.9;
  color:black;
  text-align: center;
}
*/
a{
  text-decoration: none;
  color: inherit;
}
.head{
  grid-area: x;
  display: flex;
  grid-gap: 0px;
}
.head li{
  display: inline;
}
.cover{
  grid-area: z;
  background-image: url(cover1.jpg);
  box-shadow: 0px 10px 10px black;
  background-size: cover;
  border-radius: 60px;
  background-position: center;

}
.contatotext{
  grid-area: 6/2/span 1 / 8;
  display: flex;
  align-items:center;
  justify-content: center;
}
.categoria{

}
tbody{
  grid-area: 3 / 2 /7 /8 ;

}
#contato{
  text-align:right;
}
#sobre{

  text-align: right;
}
.head li{
  margin: 0px 10px;


}

#academia{
grid-area: a;
background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(academia.jpg);
}
#advocacia{
  grid-area: b;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(advocacia.jpg);
}
#açougue{
  grid-area: c;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(açougue.jpg);
}
#alfaiate{

  grid-area: d;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(alfaiate.jpg);


}
#aluguel{
grid-area: e;
background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(aluguel.jpg);
}
/*#aluguel h4{
  opacity: 0;
}*/
#aluguel:hover{
  color: black;
  display:block;
}
#aluguel:hover:after{
  content: attr(data-hover);
  display: block;
  grid-area:e;
  align-items:flex-end;
  justify-content:flex-end;
  color: white;
}

#bar{
  grid-area: f;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#beleza{
  grid-area: g;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(beleza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#cerimonial{
  grid-area: h;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(cerimonial.jpg);
}
#cerimonial:hover{
  color: black;
  display:block;
}
#cerimonial:hover:after{
  content: attr(data-hover);
  display: block;
  grid-area:e;
  align-items:flex-end;
  justify-content:flex-end;
  color: white;


}
#civil{
  grid-area: i;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(civil.jpg);
}
#civil:hover{
  color: black;
  display:block;
}
#civil:hover:after{
  content: attr(data-hover);
  display: block;
  grid-area:e;
  align-items:flex-end;
  justify-content:flex-end;
  color: white;
}
#contabilidade{
  grid-area: j;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(contabilidade.jpg);
}
#doces{
  grid-area: k;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(doces.jpg);
}
#educação {
  grid-area: l;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(educacao.jpg);
}
#educação:hover{
  color: black;
  display:block;
}
#educação:hover:after{
  content: attr(data-hover);
  display: block;
  grid-area:e;
  align-items:flex-end;
  justify-content:flex-end;
  color: white;
}
#farmácia{
  grid-area: m;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(farmacia.jpg);
}
#fotografia{
  grid-area: n;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(fotografia.jpeg);
}
#hotel{
  grid-area: o ;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(hotel.png);
  background-size: cover;
}
#lanchonete{
grid-area: p;
background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(lanchonete.jpg);
}
#lavajato{
grid-area: q;
background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(lavajato.jpg);
}

#lojas{
  grid-area: r;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(lojas.jpg);
}
#musica{
  grid-area: s;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(musica.jpg);
  background-size: cover;
}
#oficina{
grid-area: aa;
background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(oficina.jpg);
}
#saude{
  grid-area: ab;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(saude.jpg);
  background-position: center;
}
#saude:hover{
  color: black;
  display:block;
}
#saude:hover:after{
  content: attr(data-hover);
  display: block;
  grid-area:e;
  align-items:flex-end;
  justify-content:flex-end;
  color: white;
}
#supermacado{
  grid-area: ac;
  background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(supermercado.jpg);
}
#transporte{
grid-area: ad;
background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(transporte.jpg);
}
#transporte:hover{
  color: black;
  display:block;
}
#transporte:hover:after{
  content: attr(data-hover);
  display: block;
  grid-area:e;
  align-items:flex-end;
  justify-content:flex-end;
  color: white;
}


#academia,#açougue,#advocacia,#alfaiate,#aluguel, #bar, #beleza,#cerimonial,#civil,#contabilidade,#doces,#educação,#farmácia,#fotografia, #hotel,#lanchonete,#lavajato,#lojas,#musica,#oficina,#saude,#supermacado,#transporte{
  display: flex;
  align-items:flex-end;
  color: white;
  justify-content: end;

  box-shadow: 5px 5px 5px black;
  border-radius: 7px;
  padding: 0.5em;
  background-size: cover;
  /*
  border-style: solid;
  border-color: black;*/
}





                                                    /*PÁGINA ACADEMIA*/
                                                      .cover2{
                                                        background-color: hsla(120, 100%, 5%, 0.6);
                                                        grid-area: 3 /1/span 3/9;
                                                        justify-content: center;
                                                        align-items: center;
                                                        display: flex;
                                                        font-size: 400px;
                                                        background-size: cover;
                                                        color: white;
                                                        margin-bottom: 50px;
                                                        }


.coveranuncio{
  grid-area: 6 /2/ 11 / 8;
  background: white;
  /*background: linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.6));*/
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 10px 10px 10px hsla(0, 0%, 10%, 0.8);

}
.anuncio1{
  grid-area: 7/2/span 1 /span 3;
  padding-left: 10px;
  border-top: 5px ridge white;
  border-bottom: 5px groove white;
  margin-left: 10px;
  }
  .foto1{
    grid-area:7/5/span 1/span 1;
    background-image: url(academia.jpg);
    border-radius: 0px 0px 0px 40px;
  }
  .foto2{
    grid-area: 7/6/span 1/ span 1;
    background-image: url(beleza.jpg);
  }
  .foto3{
    grid-area: 7/7/span 1/ span 1;
    background-image: url(supermercado.jpg);
    margin-right: 1em;
    border-radius: 0px 40px 0px 0px;
  }


  .anuncio2{
    grid-area: 8/2/span 1 /span 3;
    padding-left: 10px;
    border-top: 5px ridge white;
    border-bottom: 5px groove white;
    margin-left: 10px;
    }
  .foto12{
    grid-area:8/5/span 1/span 1;
    background-image: url(academia.jpg);
    border-radius: 0px 0px 0px 40px;
  }
  .foto22{
    grid-area: 8/6/span 1/ span 1;
    background-image: url(beleza.jpg);
  }
  .foto32{
    grid-area: 8/7/span 1/ span 1;
    background-image: url(supermercado.jpg);
    margin-right: 10px;
    border-radius: 0px 40px 0px 0px;
  }
  .anuncio3{
    grid-area: 9/2/span 1 /span 3;
    padding-left: 10px;
    border-top: 5px ridge white;
    border-bottom: 5px groove white;
    margin-left: 10px;
    }
  .foto13{
    grid-area:9/5/span 1/span 1;
    background-image: url(academia.jpg);
    border-radius: 0px 0px 0px 40px;
  }
  .foto23{
    grid-area: 9/6/span 1/ span 1;
    background-image: url(beleza.jpg);
  }
  .foto33{
    grid-area: 9/7/span 1/ span 1;
    background-image: url(supermercado.jpg);
    margin-right: 10px;
    border-radius: 0px 40px 0px 0px;
  }
  .foto1, .foto2, .foto3, .foto12, .foto22, .foto32, .foto13, .foto23, .foto33{
    background-size: cover;
    box-shadow: 10px 10px 50px gray;
}
#tagstext{
  color: white;
}

  /*
#mapaanuncio {


content: url(mapa.jpg);
width: 35px;
height: 20px;

}*/
#mapaanuncio:hover{
  border-style: hidden;
}

#dentista{
grid-area: 7/ 2/span 2/ span 2;
background-image: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%), url(academia.jpg);
width: 75%;
height:75%;
}


@media  (max-width:520px) {
  .cover2{
  width: 100%;
  box-shadow: none;
  bottom:0px;
  height: 70px;
  font-size: 8em;
  margin-bottom:  0px;
  }
body{
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}
.head{
height: 40px;
width:99%;

}
.head a{

}
.btn-toggle-nav{
  width:1%;
  height: 35px;
  background-image: url(menu.png);
  background-position: center;
  background-size: cover;
  repeat: no-repeat;
  margin-left: -1.8em;
  width: 30px;

}
.btn-toggle-nav:hover{
  opacity: 0.3;

}
.head ul {
margin: 40px -0.2em -45px -4.25em;
background: black;
color: white;
z-index: 10;
width: 100%;
display:flex;
align-items:center;
border-radius: 0px 0px 0px 30px;
visibility: hidden;


}
.head ul li, .head ul li a{
  margin: 0em 1em;
  align-items: center;

}
/*.head ul li a{
  display: block;
  height: 100%;
  padding: 0 10px;
  color: #111;*/
}


.coveranuncio{

}
.coveranuncio, .anuncio1, .anuncio2, .anuncio3{
  width: 100%;
box-shadow: none;
margin: 0px 0px;

}
  h3{
   margin: 10px 5px;
}
p{
  margin: 5px 5px;
}
.cover2 h1{
  font-size: 0.3em;

  }
  img{
    width:100px;
    height: 35px;
  }
#logo{
height: 40px;
}
#contato{

  }
#sobre{


}

/*body{
grid-template-rows: repeat(10,4em) ;
  grid-template-columns: 1em 1em 1em 1em;
  grid-template-areas:
  "x x u u"
  "z z z z"
  "z z z z"
  "a b c d"
  "e f g h"
  "i j k l"
  "m n o p"
  "q r s aa"
  "ab ac ad ae"
  "fot fot fot ." ;
}*/



/*
a:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

a:hover:before, a:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

a:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
